/*[CSS DA PÁGINA DE MONTAGEM - styles-montagem.css]*/
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0d1117;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #6ac27d;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #184097;
}

h1 {
  color: #040504;
  margin: 0;
}

.barra-superior {
  display: flex;
  overflow-x: auto;
  background-color: #112b3c;
  padding: 15px;
  gap: 15px;
}

.peca {
  width: 150px;
  height: 100px;
  border: 2px solid #3a9927;
  border-radius: 8px;
  background: #1b1f23;
  cursor: grab;
  color: #28a146;
  font-weight: bold;
  
  /* Flex para centralizar */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Remove padding */
  padding: 0;
}

.peca:active {
  transform: scale(1.1);
}

.peca img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
  display: block;
}

.area-montagem {
  flex: 1;
  background-color: #1c1c1c;
  border-top: 4px solid #145374;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: flex-start;
}

.area-montagem .peca {
  margin: 10px;
  cursor: default;
}
